<h1><%= t("tasks.index.title") %></h1>

<%= form_with url: chores_add_path, method: :post, local: true do %>
  <% @tasks.each do |task| %>
    <div>
      <%= check_box_tag 'task_ids[]', task.id %>
      <%= task.name %>
    </div>
  <% end %>

  <%= submit_tag t("tasks.index.submit") %>
<% end %>
